@import 'common';
@media screen and (min-width:400px) {
    .i-content .weui-grid {
        padding: 30px 10px;
    }
}

.i-content {
    & > .weui-grid {
        background: #fff;
    }
    .weui-badge {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .weui-grid__icon {
        width: 25px;
        height: 25px;
    }
}
