.m-content {
    .weui-cell.disable p {
        color: #C9C9C9;
    }
    .nextstep, .stepsubmit {
    	margin: 20px 15px 0;
    }
    .m-steplast{
    	margin-top: 20px;
    }
    // .m-steplast .weui-form-preview{
    // 	font-size: 15px;
    // }
}

#payAction span {
    color: #888;
}
