extend ../layout
block content
	.weui-grids.i-content
		a.weui-grid(href="/myloan")
			.weui-grid__icon
				img(src="./img/icon-home-loan-normal.png")
			p.weui-grid__label.front-14 我要借款
			span.weui-badge.front-12 8
		a.weui-grid(href="javascript:;")
			.weui-grid__icon
				img(src="./img/icon-home-loan_list-normal.png")
			p.weui-grid__label.front-14 付款记录
		a.weui-grid(href="javascript:;")
			.weui-grid__icon
				img(src="./img/icon-home-profile-normal.png")
			p.weui-grid__label.front-14 人个资料
		a.weui-grid(href="javascript:;")
			.weui-grid__icon
				img(src="./img/icon-home-coupon-normal.png")
			p.weui-grid__label.front-14 优惠券
		a.weui-grid(href="javascript:;")
			.weui-grid__icon
				img(src="./img/icon-home-dashboard-normal.png")
			p.weui-grid__label.front-14 管理后台
