extend ../layout
block content
	.status-tip.status-success
		.icon-box
			i.weui-icon-waiting.weui-icon_msg
		.icon_box_-ctn
			h3.icon-box__title 借款申请成功
			p.icon-box__desc 请等待放款
		a.weui-btn.weui-btn_primary 返回主页
		a.weui-btn.weui-btn_default 关闭
	
	//- 已逾期
	.status-tip.status-overdue.hide
		.icon-box
			i.weui-icon-warn.weui-icon_msg
		.icon_box_-ctn
			h3.icon-box__title 已逾期
			p.icon-box__desc 该笔借款已逾期48小时
		a.weui-btn.weui-btn_primary 查看详情
	
	//- 已还款
	.status-tip.status-repayment.hide
		.icon-box
			i.weui-icon-success.weui-icon_msg
		.icon_box_-ctn
			h3.icon-box__title 已还款
			p.icon-box__desc 该笔借款已还清
		a.weui-btn.weui-btn_primary 查看详情
	
	//- 待还款
	.status-tip.status-waitrepayment.hide
		.icon-box
			i.weui-icon-waiting.weui-icon_msg
		.icon_box_-ctn
			h3.icon-box__title 待还款
			p.icon-box__desc 该笔借款等待还款中
		a.weui-btn.weui-btn_primary 查看详情
