meta(http-equiv="Content-type", content="text/html; charset=utf-8")
meta(http-equiv="x-ua-compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0")
meta(content="yes", name="apple-mobile-web-app-capable")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(content="yes", name="apple-touch-fullscreen")
meta(content="telephone=no,email=no", name="format-detection")
meta(name="mobile-web-app-capable", content="yes")
meta(name="msapplication-tap-highlight", content="no")
meta(name="fragment" content="!")
meta(name="App-Config", content="fullscreen=yes,useHistoryState=yes,transition=yes")
link(href="/libs/weui/dist/style/weui.min.css",rel="stylesheet" type="text/css")
link(href="/build/css/index.css",rel="stylesheet" type="text/css")
script(type="text/javascript", src="/libs/zepto/zepto.min.js")
script(type="text/javascript", src="/common/jweixin-1.0.0.js")
script(type="text/javascript", src="/common/weui.min.js")
